<head>
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
  </style>
</head>
<body>
  <ion-app>
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title> Input Time </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Input Time</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-item>
        <ion-label>Number Input</ion-label>
        <ion-input type="number" value="30"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="onClick()">Set</ion-button>
    </ion-content>
  </ion-app>
</body>
