<head>
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
  </style>
</head>

<body>
  <ion-app>
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title> Your Playlists </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Your Playlists</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-list>
        <ion-item *ngFor="let entry of form">
          <ion-label>{{entry.val}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-app>
</body>
